.table-img {
  max-height: 120px;
}

/* NavigationBar */
.div-img-logo {
  max-height:50px;
  max-width: 100%;
}
.img-logo {
  max-width: 140px;
  object-fit: cover;
  border: 3px solid black;
  border-radius: 5px;
}